# Archivos de registro
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Directorio de node_modules
node_modules

# Directorios de compilación
dist

# Archivos de TypeScript
*.tsbuildinfo

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Archivos de configuración del editor
.vscode

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de bloqueo de paquetes
package-lock.json
